@model DistribucionRutas.Models.Registro
@{
    ViewBag.Title = "Registro";
    Layout = ViewBag.Layout;
}

@Html.AntiForgeryToken()

<div class="container">
    <div class="card">
        <div class="card-body sombras col-auto" style="padding: 0px;">
            <div class="row" ">
                <div class="col-6 bg-black m-0 row justify-content-center align-items-center">
                    <div class="col-auto p-5 text-white text-center">
                        <p class="h10 text-white">---</p>
                        <p class="h3 text-white">Registrate</p>
                        <p class="h1">-</p>
                        <p class="h15">Registrate en nuestro portal para agilizar tus procesos</p>
                    </div>
                </div>
                <div class="col-6 m-0 row justify-content-center align-items-center">
                    <div class="col-8 p-5 text-center">

                        @using (Html.BeginForm("registrarse", "Registro", FormMethod.Post))
                        {
                            <p class="h10 text-black">Login</p>
                            <p class="h3 text-black">Ingresa tus Datos</p>
                            <p class="h1">-</p>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control text-center", maxlength = "10"} })
                                        @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger control-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Contrasenia, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Contrasenia, new { htmlAttributes = new { @class = "form-control text-center", maxlength = "20" } })
                                        @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger control-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ConfirmContrasenia, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.ConfirmContrasenia, new { htmlAttributes = new { @class = "form-control text-center", maxlength = "20" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmContrasenia, "", new { @class = "text-danger control-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control text-center", maxlength = "50"} })
                                        @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger control-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control text-center", maxlength = "50" } })
                                        @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger control-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control text-center", maxlength = "40" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger control-label" })
                                    </div>
                                </div>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger control-label" })

                            <div class="row">
                                <br />
                            </div>
                            <div class="row">
                                <input type="submit" name="btnRegistro" value="Registrarse" class="btn btn-outline-dark form-control" />
                            </div>
                            <br />
                            <div class="row">
                                <input type="submit" formnovalidate name="btnRegresar" value="Regresar" class="btn btn-outline-dark form-control" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalNotificacion" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerNotificacion" class="modal-header">
                <h5 class="modal-title text-white">Notificación del sistema</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="mensajeNotificacion"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarNotificacion" class="btn" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-minus"></i> Cerrar</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @if (ViewBag.MostrarModal != null && ViewBag.MostrarModal)
    {
        <script src="~/Scripts/MostrarMensaje.js"></script>
        <script>
            $(document).ready(function () {
                var mensaje = "@ViewBag.Mensaje";
                var tipo = @ViewBag.Tipo;
                mostrarNotificacion(tipo, mensaje);
            });
        </script>
    }
}
